# Python Basics

## fibnocci servies

In [16]:
a, b = 0, 1
print(a)
for i in range(4):
    print(b)
    a, b = b, a + b

0
1
1
2
3

## calculations

In [12]:
number1 = int(input())
number2 = int(input())

def addition(a, b):
    return a+b

def subtraction(a, b):
    return a-b

def multiplication(a, b):
    return a*b

def division(a, b):
    return a/b

print(addition(number1, number2))
print(subtraction(number1, number2))
print(multiplication(number1, number2))
print(division(number1, number2))

 12
 12

24
0
144
1.0

## hypotenues

In [14]:
number1 = float(input())
number2 = float(input())

def hypotenues(a, b):
    return (a**2 + b**2)

print(hypotenues(number1, number2))

 3
 3

18.0

## area of circle

In [15]:
radius = float(input())
def areaOfCircle(r):
    return 3.14 * (r**2)

print(areaOfCircle(radius))

 12

452.16

In [1]:
print("I am",25,"years old")

I am 25 years old

In [2]:
print("I am " + "25 years old")

I am 25 years old

In [5]:
X= [10,"Range", "Great", -54, 11, 12]
print(X[1])

Range

In [6]:
X= [10,"Range", "Great", -54, 11, 12]
print(len(X[2:4]))

2

In [7]:
X= [10,"Range", "Great", -54, 11, 12]
print(X[-2:-1])

[11]

In [8]:
X= [10,"Range", "Great", -54, 11, 12]
print(X[2:-1])

['Great', -54, 11]

In [10]:
dictionary={1:"USA", 2:"India", 3:"China"}
dictionary.update({3:"Japan"})
dictionary.pop(2)
print(dictionary)

{1: 'USA', 3: 'Japan'}

In [13]:
if 4 + 3 == 9:
 print("The addition of 4 and 3 is correct")
else:
 print("The addition of 4 and 3 is not correct")
print("Hello")

The addition of 4 and 3 is not correct
Hello

In [15]:
a = b = True
if (a == b):
  print("Hello")
else:
  print("Well done")

Hello

In [19]:
print(range(5))

range(0, 5)

In [20]:
sum = 0
for number in range(1,5):
    sum = sum + number
print(sum)

10

In [21]:
x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0))

1
2
3
4
5

In [22]:
list_1 = [1, 2, 3, 4, 5]
list_comp = [ i for i in list_1 ]
print(list_comp)

[1, 2, 3, 4, 5]

In [26]:
week_list = [ "Week" + str(i) for i in range(5)] 
print(week_list)

['Week0', 'Week1', 'Week2', 'Week3', 'Week4']

In [28]:
n = int(input())
for i in range(1, 10):
    print(f"{n} x {i} = {n*i}")

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [29]:
n = int(input())
i = 0
while i <= n:
    if i % 2 == 0:
        print(i)
    i += 1

 2

0
2

In [1]:
def say(message, times):
    print(message*times)

In [2]:
say("How are you", 2)

How are youHow are you

In [3]:
(lambda x: (x+2)*5/2)(4)

15.0

In [7]:
mul = lambda a,b: a*b

In [8]:
mul(5,6)

30

In [10]:
a = 10
b = 2.3
c = a*b
print(type(c))

<class 'float'>

In [21]:
a = 1
for i in range(1,6): 
    a = a*i
    print(a)

1
2
6
24
120

In [22]:
list_mul = ['2','2','2']
list_mul*2

['2', '2', '2', '2', '2', '2']

In [23]:
5 == (3 + 2)

True

In [24]:
a = 3
print(a + (33))

36

In [37]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

1225.0

In [27]:
repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [29]:
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [32]:
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
color.pop(5)
print(color, len(color))

['white', 'red', 'blue', 'green', 'blue', 'black'] 6

In [36]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
car["year"] = 2019
print(car)

AttributeError: 'dict' object has no attribute 'year'

In [38]:
 print("Good Bye")

Good Bye

In [39]:
m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 5
print("Average=", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")

Average= 78.0
Grade C

In [40]:
a = "I am a Data Scientist"
if "Data" in a:
 print("It is present")
else:
 print(False)

It is present

In [46]:
a = -99
if a > 0:
 print("Number is Positive")
else:
 print("Number is negative")

Number is negative

In [47]:
for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [50]:
for i in range(1, 100):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else: 
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [51]:
st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u": 
     count = count + 1
print(count)

5

In [52]:
a = "Data Science"
for i in range(0, 5):
 print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

In [53]:
def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)
 
mths(9, 5)

14
4
45
1

In [55]:
def sq():
 for i in range(1, 11):
     print(i ** 2)

In [56]:
sq()

1
4
9
16
25
36
49
64
81
100

In [57]:
function = lambda x: x * x + 5
function(2)

9

In [58]:
def power(a, b):
 return a ** b
power(7,2)

49

In [59]:
def area(base, height):
 return 0.5 * base * height
area(5, 10)

25.0

In [60]:
def greet(country):
 print("I am from", country)
greet("Sweden")

I am from Sweden

In [61]:
def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

Temperature in Fahrenheit = 68.0