### Session 1

This is our first session. Today, we are going to cover data types and collections.

In [ ]:
import numpy as np # Importing the numpy library - an example of inline comment

In [ ]:
# docstring
"""This is a text that
extends over
multiple
lines"""
x = 5

In [ ]:
var1 = 12
type(var1)

int

In [ ]:
test1 = 12.0
type(test1)

float

In [ ]:
var2 = 3.14
type(var2)

float

In [ ]:
var3 = "Python" # 'Python' - We use single and double quotes interchngeably, but these should be balanced.
type(var3)

str

In [ ]:
var4 = True #Important - python is case sensitive which means True, true, TRUE are all different
type(var4)

bool

A variable name in python could contain alphabets, numbers, or underscores. It can start with an alphabet or underscore but not with a number.

In [ ]:
# Int with another int
var5 = 3
print(var1 + var5)
print(var1 - var5)
print(var1 * var5)
print(var1 / var5)

15
9
36
4.0

In [ ]:
# Int with a float
print(var2 + var5)
print(var2 - var5)
print(var2 * var5)
print(var2 / var5)

6.140000000000001
0.14000000000000012
9.42
1.0466666666666666

In [ ]:
# Int with a string
# print(var3 + var5)
# print(var3 - var5)
print(var3 * var5)
# print(var3 / var5)

PythonPythonPython

In [ ]:
# Int and boolean
print(var4 + var5) # True implicitly gets type casted into int True becomes 1 and False becomes 0.
print(var4 - var5)
print(var4 * var5)
print(var4 / var5)

4
-2
3
0.3333333333333333

In [ ]:
test1 = "True" # not the same as boolean True

In [ ]:
# Float with string
# print(var3 + var2)
# print(var3 - var2)
print(var3 * var2)
# print(var3 / var2)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
# Float with a boolean
print(var2 + var4)
print(var2 - var4)
print(var2 * var4)
print(var2 / var4)

4.140000000000001
2.14
3.14
3.14

In [ ]:
3.14/False

ZeroDivisionError: float division by zero

In [ ]:
# Str with a bool
# print(var3 + var4)
# print(var3 - var4)
print(var3 * var4)
# print(var3 / var4)

Python

In [ ]:
"Python"*False

''

In [ ]:
# Bool with a bool
var6 = False
print(var6 + var4)
print(var6 - var4)
print(var6 * var4)
print(var6 / var4)

1
-1
0
0.0

### Collections

Lists are ordered collections of data which allow heterogenous data, allow duplicates, and are mutable.

In [ ]:
list1 = ["Suresh", 30, 4.5, "IT", True, True, 4.5, False]

In [ ]:
list1

['Suresh', 30, 4.5, 'IT', True, True, 4.5, False]

In [ ]:
list1[3]

'IT'

In [ ]:
list1[0] = "Rashi"
list1

['Rashi', 30, 4.5, 'IT', True, True, 4.5, False]

In [ ]:
list1.append("Metro")
list1

['Rashi', 30, 4.5, 'IT', True, True, 4.5, False, 'Metro']

Tuples are ordered collections of data which allow heterogenous data, allow duplicates, and are immutable.

In [ ]:
tup1 = ("Suresh", 30, 4.5, "IT", True, True, 4.5, False)
tup1

('Suresh', 30, 4.5, 'IT', True, True, 4.5, False)

In [ ]:
tup1[2]

4.5

In [ ]:
tup1[0] = "Rashi"

TypeError: 'tuple' object does not support item assignment

Sets are unordered collections of data which allow heterogenous data, don't allow duplicates, and are mutable.

In [ ]:
set1 = {"Suresh", 30, 4.5, "IT", True, True, 4.5, False}
set1

{30, 4.5, False, 'IT', 'Suresh', True}

In [ ]:
set1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#set1[0] = "Rashi" # not allowed
set1.add("Metro")
set1

{30, 4.5, False, 'IT', 'Metro', 'Suresh', True}

Dictionaries are key value pairs. Values in a dictionary are accessed using keys, therefore, the order isn't important. A dictionary cannot have duplicate keys. The keys are immutable.

In [ ]:
dict1 = {"Name":"Suresh", "Age":30, "WorkEx":4.5, "Relocation":True}
dict1

{'Name': 'Suresh', 'Age': 30, 'WorkEx': 4.5, 'Relocation': True}

In [ ]:
dict1["Name"]

'Suresh'

In [ ]:
var3

'Python'

In [ ]:
var3[0] = "C"

TypeError: 'str' object does not support item assignment

In [ ]:
dict2 = {"Name":"Suresh", "Age":30, "WorkEx":4.5, 120:True}
dict2

{'Name': 'Suresh', 'Age': 30, 'WorkEx': 4.5, 120: True}

In [ ]:
dict3 = {"Name":"Suresh", "Age":30, "WorkEx":4.5, "Relocation":True, "Age":28}

In [ ]:
dict3

{'Name': 'Suresh', 'Age': 28, 'WorkEx': 4.5, 'Relocation': True}

In [ ]:
dict4 = {"Name":["Suresh", "Rashi", "Jagat"], "Age": [30, 29, 31], "WorkEx":[4.5, 3, 5], "Relocation":[True, False, True]}
dict4

{'Name': ['Suresh', 'Rashi', 'Jagat'],
 'Age': [30, 29, 31],
 'WorkEx': [4.5, 3, 5],
 'Relocation': [True, False, True]}

In [ ]:
dict4.keys()

dict_keys(['Name', 'Age', 'WorkEx', 'Relocation'])

In [ ]:
dict4.items()

dict_items([('Name', ['Suresh', 'Rashi', 'Jagat']), ('Age', [30, 29, 31]), ('WorkEx', [4.5, 3, 5]), ('Relocation', [True, False, True])])

In [ ]:
import pandas as pd
pd.DataFrame(dict4)

     Name  Age  WorkEx  Relocation
0  Suresh   30     4.5        True
1   Rashi   29     3.0       False
2   Jagat   31     5.0        True

In [ ]:
var7 = int("5")
var7

5

In [ ]:
var8 = int("Bootcamp")

ValueError: invalid literal for int() with base 10: 'Bootcamp'

In [ ]:
var9 = int("5.0")

ValueError: invalid literal for int() with base 10: '5.0'

In [ ]:
var9 = int(float("5.0"))
var9

5

In [ ]:
var10 = bool("True")

In [ ]:
var11 = bool("TRUE")

In [ ]:
var11

True

In [ ]:
var12 = bool("MACBOOK")

In [ ]:
var12

True

In [ ]:
var13 = bool(3)

In [ ]:
var13

True

In [ ]:
a = 5
id(a)

10750984

In [ ]:
b = a
id(b)

10750984

In [ ]:
a = 10
id(a)

10751144

In [ ]:
b
id(b)

10750984

In [ ]:
c = 5
id(c)

10750984

In [ ]:
varlist = ["'test2'",10,13.5,True] # is this acceptable like single quotes with in double

In [ ]:
varlist

["'test2'", 10, 13.5, True]

In [ ]:
var8 = "'name'"
var8

"'name'"